.header-component{
    height: 15vh;
    width:100%;
    border-bottom: 1px solid #f08080;
}
.logos{
    height:25px;
    width: 25px;
    margin-left: 5px;
    /* cursor: pointer; */
}
.header-top{
    height: 35px;
    background-color:#f08080;
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}
.search-input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: white;
    border-bottom-style: double;
    background-color: #f08080;
    color: white;
    overflow:visible;
}
.search-input:focus {
    outline: none;
  }
::placeholder{
    color:white;
  }
  .header-bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-left{
      display: inline-flex;
    }
    .phone-icon{
        height: 40px;
        margin: 5px ;
    }
    .contact-info{
        color: #f08080;
        font-weight: 500;
    }
    .bottom-center{
      color: black;
      padding-top: 5px;
    }
    .bottom-right{
        display: flex;
        justify-content: space-evenly;
        margin-right: 35px;
    }
    .bottom-right-logos{
    margin-left:20px;
    }
    .phone-no{
        color: black;
    }