.pagination-component{
    margin: 10px 15px;
}

.pagination-container .page-link{
    color: #f08080;
    border: 1px solid #f08080;
}
.pagination-container .page-link:hover, .pagination-container .page-link:focus, .pagination-container .page-link:active{
    color: rgb(12, 199, 187);
    background-color: white;
    border: 2px solid rgb(12, 199, 187);
    font-weight: bolder;
}

