nav .breadcrumb .breadcrumb-item a{  
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
}
nav .breadcrumb .breadcrumb-item a:hover, nav .breadcrumb .breadcrumb-item a:active,nav .breadcrumb .breadcrumb-item a:focus{
    color: #FAFBFC;
}
nav .breadcrumb .breadcrumb-item{
    color: #FAFBFC;
    font-weight: bold;
    font-size: 13px;
}