.cart-address-container{
    height: 90vh;
    background-color: rgb(243, 239, 239);
    padding: 30px 70px;
    display: flex;
    justify-content: space-around;
    font-family: "Lucida Handwriting"
}
.cart-address-container-left{
    width: 65%;
    background-color: white;
    height: 94%;
    border-radius: 5px;
    padding: 30px 20px;
}
.cart-address-container-right{
    width: 28%;
    border-radius: 5px;
}
.cart-address-container-right-top{  
    margin-bottom: 20px;
}
.cart-address-container-right-bottom{  
    height: 62%;
}
.cart-address-container-left-top{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 30px;
}
.cart-address-steps-heading-active{
    color: #f08080;
    font-weight: bold;
    margin-right: 5px;
}
.cart-address-steps-heading{
    color: #0cc6b9;
    font-weight: bold;
    margin-right: 5px;
}
.line-between-steps{
    color: #0cc6b9;
    margin-right: 5px;
}
.cart-address-heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.add-new-address-button{
    color: #f08080;
    border-style: none;
    font-size: small;
    background: white;
    font-weight: bold;
}
.add-new-address-button:focus{
    outline: none;
}
.select-address-heading{
    font-weight: bold;
}
.cart-address-value{
    padding: 10px;
    border: 1px solid #f08080;
    width: 50%;
    text-align: left;
    border-radius: 5px;

}
.select-this-address{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.create-new-address-heading{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.cart-address-container-left-center{
    margin: 30px 0;
}
.all-address-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.cart-address-bottom{
    position: absolute;
    bottom: 0;
}
.user-address-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 40px;
}
.user-address-input-value{
    margin: 10px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    color: grey;
}
.user-address-input-value:focus{
   outline: none;
}
.address-value{
    font-size: small;
}