.product-selected-component{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    /* margin: 25px 0; */
}
.product-selected-picture-box{
    height: 120px;
    width: 120px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}
.product-selected-image{
    height: 100px;
    width: 100px;
}
.product-selected-details{
    width: 240px;
    text-align: left;
    padding: 0 10px;
}
.product-selected-name{
    font-size: 15px;
    font-weight: bold;
}
.product-selected-price{
    font-weight: bold;
    font-size: 25px;
}
.product-selected-text{
    font-size: 14px;
    color: grey;
}