.product-list-component{
    height: 3600px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color:rgb(12, 199, 187);
    font-family: 'Lucida Handwriting';
}
.product-list-left{
    width: 25%;
    background-color: #FAFBFC;
    height: 460px;
    border-radius: 5px;
}
.product-list-right{
    width: 72%;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
}
.products-component{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.product-list-top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.sortby-text{
    padding-right: 8px;
}
