.popular-offers-component{
    height: 1600px;
    background-color: #FAFBFC;
    /* font-family: 'Lucida Handwriting'; */
    font-family: monospace ;
}
.offers-division1, .offers-division2, .offeres-division3{
    padding: 20px 0px;
}
.offers-heading{
    margin-bottom: 30px;
}
.posters{
    display: inline-block;
    background-color: black;
    margin: 0.5rem;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.771);
    text-align: center;
    cursor: pointer;
}
.posters:hover{
    transform: scale(1.1);
}
.offers-button{
    margin: 20px 0px;
    background-color: rgb(100, 86, 86);
    color: white;
    font-size: small;
    padding: 10px;
    border-color: rgb(100, 86, 86);
    border-radius: 5px;
    font-weight: bold;
}