.footer-component{
    font-family: 'Lucida Handwriting';
    height: 300px;
    background-color: rgb(210, 210, 210);
    color: rgb(102, 101, 101);
    text-transform: uppercase;
}
.footer-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    height: 200px;
}
.footer-div1, .footer-div2, .footer-div3, .footer-div4{
    width: 150px;
}
