
.login-main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.main-heading{
   color: black;
   margin-bottom: 25px;
   letter-spacing: 5px ;
}

.forgot-password{
    font-size: small;
    color:rgb(12, 199, 187);
    position: relative;
    left: 26%;
    text-align:right;
    text-decoration: none;
    /* margin-bottom: 30px; */
}

.forgot-password:hover{
    color:black;
}
.new-account:hover{
    color:#f08080;
}

.new-account{
    font-size: medium;
    color: rgb(12, 199, 187);
    font-weight: 100 ;
    text-decoration: none;
}

.sign-in{
    background-color:rgb(169, 220, 217) ;
    color: black;
    font-weight: 100;
    border: none;
    width: 40%;
    border-radius: 5px;
    padding: 4px 0;
}

.input-text{
    font-weight: 600;
    color: black;
}

.input-box{
    width:80%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: black;
    border-bottom-style: double;
    color: grey;
    /* background-color: #eee; */
    border-radius: 5px;
}
.input-box:focus {
    outline: none;
  }
  .page-skip{
    color: #f08080;
    margin: 10px 0;
    font-weight: bold;
    background-color: white;
    border-style: none;
    text-decoration: underline;
  }