.bill-details-component{
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px;
    font-family: "Lucida Handwriting";
    width: 345px;
}
.bill-details-heading{
    font-weight: bold;
    margin-bottom: 15px;
}
.bill-details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
}
.taxes-amount-heading, .taxes-amount,.dotted-line{
    color: #0cc6b9;
}
.select-address-button{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0cc6b9;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
    text-transform: uppercase;
}
.tax-info-logo{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.tax-heading-and-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}