.apply-coupen-component {
    height: 110px;
    width: 345px;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    font-family: "Lucida Handwriting";
}

.apply-coupen-heading {
    text-align: left;
    padding-left: 5px;
    padding-top: 6px;
    font-weight: bold;
}

.coupen-input-container {
    border: 2px solid rgb(222, 220, 220);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin: 15px 5px;
    border-radius: 5px;
    padding:  5px 0 5px 10px ;
}

.coupen-logo {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.coupen-apply-button, .coupen-input-box {
    border-style: none;
    background-color: white;
    font-size: 14px;
}
.coupen-input-box{
    color: grey;
    margin-left: 3px;
}
.coupen-apply-button{
    color: #f08080;
    font-weight: bold;
}
.coupen-apply-button:focus, .coupen-input-box:focus{
    outline: none;
}
.coupen-apply-button:hover{
    color: #0cc6b9;
}