.product-detail-container{
    height: 1000px;
    /* background-color: #ede8e8; */
    background-color:#0cc6b9;
    padding: 30px 65px;
    font-family: "Lucida Handwriting";
    /* font-family: avenir; */
}
.product-detail-bottom{
    background-color: #FAFBFC;
    height: 850px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.product-detail-bottom-left{
    width: 32%;
}
.product-detail-bottom-center{
    width: 58%;
}
.product-detail-bottom-right{
    width: 10%;
}


