.navbar-component{
    height: 6vh;
    width:100%;
    border-bottom: 1px solid #f08080;
    font-family: 'Lucida Handwriting';
    /* background-color: #FAFBFC; */
    background-color: white;
}

.navbar-list-items{
    height: 100%;
    margin: 0px 50px;
    text-transform: uppercase;
    font-size: medium;
    border-style: none;
    background-color: white;
    font-weight: bold;
}
.navbar-list-items:hover{
    color: #f08080;
}
.navbar-list-items:focus{
    color: #f08080;
    border-bottom: 4px solid #f08080;
    outline: none;
}

.navbar-list-items::-webkit-keygen-select{
    border-style: none;
    background-color: white;
}