.product-picture-top{
    height: 400px;
    padding-right: 30px;
}
.product-picture-bottom-box{
    height:112px;
    width: 112px;
    border: 2px solid #0cc6b9;
    margin: 10px;
    border-radius: 5px;
    padding:5px;
}
.product-picture-bottom{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}
.product-picture-thumbnails{
    height:100px;
    width: 100px;
}
.product-picture-bottom-box:hover{
    border: 2px solid #f08080;
}
.main-picture{
    height: 400px;
    width: auto;
}