.page-top{
    height: 10vh;
    background-color: #f08080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-family: "Lucida Handwriting";
}
.secure-payment-icon{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.page-top-right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shop-name{
    margin-top: 10px;
}